html,body {
  height:100%;
  margin:0;
  overflow:hidden;
  padding:0;
  width:100%;
}
.playercounter {
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding-top: 50vh;
    color:gray;
    font-size: 30px;
}
body {
    background-image: url("../img/background.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;
}

::selection {
    color: #fff;
    background-color: #6178A5;
}

a {
    color: #6178A5;
}

a:hover {
    color: #6178A5;
}

.portal img {
    margin: 0 auto;
    position: relative;
    z-index: 20;
}

.portal .logo img {
    margin-top: -55vh;
    margin-bottom: 20vh;
}

.portal .icons img {
    margin-bottom: 15px;
    top: 0px;
    transition: all 0.5s ease;
}

.portal .icons img:hover {
    top: -7.5px;
    transition: all 0.5s ease;
}