body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    font-size: 135%; /* Increase font size by 35% */
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e2a38;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    position: relative;
    z-index: 2;
}

.server-logo {
    width: 405px; /* Increase size by 35% */
    margin-bottom: 27px; /* Increase margin by 35% */
}

.ip-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 27px; /* Increase margin by 35% */
}

.ip-box span {
    margin-right: 13.5px; /* Increase margin by 35% */
    text-align: center;
}

.ip-box input {
    text-align: center;
    padding: 13.5px; /* Increase padding by 35% */
    border: none;
    border-radius: 6.75px; /* Increase border-radius by 35% */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}

.instruction {
    font-size: 16.2px; /* Increase font size by 35% */
    color: #aaa;
    margin-bottom: 6.75px; /* Increase margin by 35% */
}

.dot {
    position: absolute;
    background-color: #ff4136;
    border-radius: 50%;
    width: 2.7px; /* Increase size by 35% */
    height: 2.7px; /* Increase size by 35% */
    top: calc(50% - 1.35px); /* Adjust centering */
    left: calc(50% - 1.35px); /* Adjust centering */
}

.discord-button {
    display: inline-block;
    margin-top: 27px; /* Increase margin by 35% */
    padding: 13.5px 27px; /* Increase padding by 35% */
    background-color: #7289DA;
    color: #fff;
    border-radius: 6.75px; /* Increase border-radius by 35% */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.discord-button:hover {
    background-color: #586db7;
}
