body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    font-size: 185%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e2a38;
    z-index: -1;
}

.start-button, .discord-button {
    display: inline-block;
    margin-top: 20px;
    padding: 20px 40px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-right: 10px; /* to provide spacing between Start and Discord buttons */
}

.start-button {
    background-color: #FF851B;
    color: #fff;
}

.start-button:hover {
    background-color: #E67300;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
    position: relative;
    z-index: 2;
}

.server-logo {
    width: 60vw;
    max-width: 600px;
    margin-bottom: 10px;
}

.ip-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.ip-box span {
    font-size: 2em;
    margin-right: 5px;
    text-align: center;
}

.ip-box input {
    font-size: 2em;
    text-align: center;
    padding: 2px 4px;
    height: auto; 
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
}

.instruction {
    font-size: 24px;
    color: #aaa;
    margin-bottom: 10px;
}

.food {
    position: absolute;
    background-color: #ff4136;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.player {
    position: absolute;
    background-color: #01FF70;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.discord-button {
    background-color: #7289DA;
    color: #fff;
}

.discord-button:hover {
    background-color: #586db7;
}

/* Scoreboard styles */
.scoreboard {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3; 
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 200px;
}

.player-entry {
    font-size: 14px;
    color: #333;
    margin: 2px;
}

.player-score {
    color: #FF4136;
    font-weight: bold;
    margin-left: 5px;
}

/* Username modal styles */
#usernameModal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-buttons {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button.cancel {
    background-color: #f44336;
}

button.cancel:hover {
    background-color: #da190b;
}
