body, html {
    height: 100%;
    margin: 0;
    font-family: 'Consolas', 'Courier New', monospace;
    background-color: #000;
    color: #0f0;
}

#inputLine {
    display: flex;
    align-items: center;
}

#prompt {
    margin-right: 5px;
}

#input {
    flex-grow: 1;
    background-color: #000;
    color: #0f0;
    border: none;
    outline: none;
    font-family: 'Consolas', 'Courier New', monospace;
}

#output {
    white-space: pre;
    overflow-wrap: normal;
    overflow-y: scroll;
    max-height: 90vh;
}
